<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<h3 class="py-3 card-title text-center">출결 현황</h3>
<hr>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">강의 명</th><th scope="col">강의 코드</th><th scope="col">강의실</th>
        </thead>
        <tbody>
        <tr th:each="lecture : ${lectures}">
            <td><a th:text="${lecture.lectureName}" href="#" th:href="@{'/my-attendance/' + ${lecture.lectureCode}}"></a></td>
            <td th:text="${lecture.lectureCode}"></td>
            <td th:text="${lecture.lectureRoom}"></td>
        </tr>
        </tbody>
    </table>

</div>

<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>