<!DOCTYPE html>

<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<h3 class="py-3 card-title text-center">출석 시스템</h3>
    <hr>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">위치</th><th scope="col">별칭</th><th scope="col">생성자</th><th scope="col">공개 여부</th><th></th>
        </thead>
        <tbody>
        <tr th:each="place : ${places}">
            <td><a th:text="${place.beacon.location}" href="#" th:href="@{'admin/place/' + ${place.beacon.location}}"></a></td>
            <td th:text="${place.alias}"></td>
            <td th:text="${place.creator}"></td>
            <td th:text="${place.isPublic}"></td>
            <td>
                <div class="d-grid gap-2">
                    <a class ="btn btn-outline-danger " id="btn-del-place" th:href="@{'/place/admin/remove-place/' + ${place.beacon.location}}">제거</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <th:block th:replace="fragments :: footerFragment"/>
</body>
</html>