<!DOCTYPE html>

<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<h3 class="py-3 card-title text-center">출석 시스템</h3>
    <hr>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">위치</th><th scope="col">별칭</th><th scope="col">생성자</th><th scope="col">공개 여부</th><th></th>
        </thead>
        <tbody>
        <tr th:each="place : ${places}">
            <td><a th:text="${place.beacon.location}" href="#" th:href="@{'admin/place-users/' + ${place.beacon.location}}"></a></td>
            <td th:text="${place.alias}"></td>
            <td th:text="${place.creator.username}"></td>
            <td th:if="${place.isPublic}">공개</td>
            <td th:if="${!place.isPublic}">비공개</td>
            <td>
                <div class="d-grid gap-2">
                    <form action="#" th:action="@{'/attendances/' + ${place.beacon.location}}">
                        <button class ="btn btn-outline-secondary" id="btn-attendance">출입 현황</button>
                    </form>
                    <form action="#" th:action="@{'/place/admin/remove/' + ${place.beacon.location}}" method="post">
                        <button class ="btn btn-outline-danger " id="btn-del-place">제거</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <th:block th:replace="fragments :: footerFragment"/>
</body>
</html>