<!DOCTYPE html>

<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

    <h1>출석 관리 시스템</h1>
    <hr>

    <table class="table">
        <thead>
            <th scope="col">강의 명</th><th scope="col">강의 코드</th><th scope="col">강의실</th>
        </thead>
        <tbody>
            <tr th:each="lecture : ${lectures}">
                <td th:text="${lecture.lectureName}"></td>
                <td th:text="${lecture.lectureCode}"></td>
                <td th:text="${lecture.lectureRoom}"></td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2">
        <button class ="btn btn-outline-primary " id="btn-addLecture">강의 등록</button>
    </div>

    <th:block th:replace="fragments :: footerFragment"/>
</body>
</html>