<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body class="bg-light">
<nav th:replace="fragments :: navFragment"> </nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>강의 생성</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" th:action="@{/create-lecture}" th:object="${lectureForm}" method="post" novalidate>
            <div class="form-group">
                <label for="lectureName">강의 명</label>
                <input id="lectureName" type="text" th:field="*{lectureName}" class="form-control"
                       placeholder="강의 명" aria-describedby="lectureNameHelp" required>
                <small id="lectureNameHelp" class="form-text text-muted">
                    강의명을 적어주세요.
                </small>
                <small class="invalid-feedback">강의명을 확인하세요</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('lectureName')}" th:errors="*{lectureName}">Lecture Name Error</small>
            </div>

            <div class="form-group">
                <label for="lectureCode">강의 코드</label>
                <input id="lectureCode" type="text" th:field="*{lectureCode}" class="form-control"
                       placeholder="ABC123" aria-describedby="lectureCodeHelp" required>
                <small id="lectureCodeHelp" class="form-text text-muted">
                    강의를 식별하기위한 코드를 적어주세요.
                </small>
                <small class="invalid-feedback">강의 코드를 확인하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('lectureCode')}" th:errors="*{lectureCode}">Lecture Code Error</small>
            </div>

            <div class="form-group">
                <label for="lectureRoom">강의실</label>
                <input id="lectureRoom" type="text" th:field="*{lectureRoom}" class="form-control"
                       aria-describedby="lectureRoomHelp" placeholder="강의실">
                <small id="lectureRoomHelp" class="form-text text-muted">
                    강의실의 위치를 적어주세요.
                </small>
                <small class="invalid-feedback">강의실을 확인하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('lectureRoom')}" th:errors="*{lectureRoom}">Lecture Room Error</small>
            </div>

            <div class="form-group">
                <div class="d-grid gap-2 ">
                    <button class="btn btn-primary" type="submit"
                            aria-describedby="submitHelp">등록하기</button>
                </div>
            </div>


        </form>
    </div>
</div>
<script th:replace="fragments :: form-validation"></script>
<th:block th:replace="fragments :: footerFragment"/>

</body>
</html>