<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>
<div class="card text-center">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">별칭</h5>
                <p class="card-text" th:text="${place.alias}"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">위치</h5>
                <p class="card-text" th:text="${place.location}"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">생성자</h5>
                <p class="card-text" th:text="${place.creator}"></p>
            </div>
        </div>
    </div>
</div>
<h2 class="py-3 text-center">사용자 목록</h2>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">이름 </th><th scope="col"></th>
        </thead>
        <tbody>
        <tr th:each="users : ${users}">
            <td ><a th:href="@{/users-info}" th:text="${users}"></a></td>
            <td><button class="btn btn-outline-danger">제거</button></td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>