<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>비콘 등록</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" th:action="@{/add-beacon}" th:object="${beaconForm}" method="post" novalidate>
            <div class="form-group">
                <label for="location">위치</label>
                <input id="location" type="text" th:field="*{location}" class="form-control" name="location"
                       placeholder="location" aria-describedby="locationHelp" required>
                <small id="locationHelp" class="form-text text-muted">
                    위치를 나타낼 수 있는 고유한 정보가 됩니다. 장소를 등록할 때 위치명을 사용하여 등록할 수 있습니다.
                </small>
                <small class="invalid-feedback">위치를 확인하세요</small>
                <div>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error</small>
                </div>
                <div class="form-group">
                    <label for="beaconCode">비콘 코드</label>
                    <input id="beaconCode" type="text" class="form-control" name="beaconCode" th:field="*{beaconCode}"
                            aria-describedby="beaconCodeHelp" readonly>
                    <small id="beaconCodeHelp" class="form-text text-muted">
                        연결할 비콘의 고유 식별 코드 입니다. 비콘 찾기 버튼을 누른 후 선택해주세요.
                    </small>
                    <div class ="container" id="item-list-container">
                        <button id = "btn-getBeaconCode" class = "btn btn-primary btn-getBeaconCode" onclick="getBeaconCode()">비콘 찾기</button>
                        <ul class="list-group" id = "beacon-list">
                        </ul>
                    </div>
                    <small class="invalid-feedback">비콘을 확인하세요.</small>
                    <div>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('beaconCode')}"  th:errors="*{beaconCode}">Location Error</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="constructor">생성자</label>
                    <input id="constructor" type="text" class="form-control" th:field="*{creatorName}"
                           th:value="${beaconForm.creatorName}" aria-describedby="constructorHelp" readonly>
                    <small id="constructorHelp" class="form-text text-muted">
                        장소를 생성하는 사용자의 이름입니다. 변경할 수 없습니다.
                    </small>
                </div>

            </div>

            <div class="form-group">
                <div class="d-grid gap-2 ">
                    <button class="btn btn-primary prevent-duplicate-submit" type="submit"
                            aria-describedby="submitHelp">등록하기</button>
                </div>
            </div>
        </form>
    </div>

</div>
<th:block th:replace="fragments :: footerFragment"/>
<script th:replace="fragments :: form-validation"></script>
<script th:replace="fragments :: prevent-duplicate-submit"></script>
<script th:fragment="getBeaconCode">
    function getBeaconCode() {
        // const beaconIds = '{"ids":[{"id":"0aaa6305-9670-42b3-9fdf-897da796b8ea"},' +
        //     '{"id":"d6e65950-5293-47b4-8551-3815daf73517"}]}';
        const beaconIds = window.Android.getBeaconCode();
        let jsonBeaconIds = JSON.parse(beaconIds);
        if(jsonBeaconIds.ids.length == 0){
            alert("검색된 비콘이 없습니다.");
            return 0;
        }
        const beaconCodeForm = document.getElementById("beaconCode")
        const itemList = document.getElementById("beacon-list");
        while(itemList.firstChild){
            itemList.removeChild(itemList.firstChild);
        }

        for(let i=0; i < jsonBeaconIds.ids.length; i++){
            let beaconCode = jsonBeaconIds.ids[i].id;
            let item = document.createElement("li");
            item.innerHTML = beaconCode;
            item.onclick = function () {
                beaconCodeForm.value = beaconCode;
            }
            let initClassName ="list-group-item beaconItem"
            item.className = initClassName
            item.onmouseover = function (){
                item.className = initClassName + " active"
            }
            item.onmouseout = function (){
                item.className = initClassName
            }
            itemList.append(item);
        }
        //TODO 서버로 전송, 장소 찾아오고 넣어준 뒤 리다이렉트.
    }
</script>
</body>

</html>