<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<h3 class="py-3 card-title text-center">출결 현황</h3>
<hr>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">날짜</th><th scope="col">출석 코드</th>
        </thead>
        <tbody>
        <tr th:each="attendance : ${attendances}">
            <td th:text="${attendance.attendanceDate}"</td>
            <td th:text="${attendance.attendanceCode}"></td>
        </tr>
        </tbody>
    </table>

</div>

<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>