<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<h3 class="py-3 card-title text-center">내가 등록한 비콘</h3>
<hr>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">식별 코드</th><th scope="col">위치</th><th scope="col">연결된 장소</th><th scope="col">생성 날짜</th><th scope="col"></th>
        </thead>
        <tbody>
        <tr th:each="beacon : ${beacons}">
            <td th:text="${beacon.beaconCode}"></td>
            <td th:text="${beacon.location}"></td>
            <td th:if="${beacon.place}!=null"  th:text="${beacon.place.alias}"></td>
            <td th:if="${beacon.place}==null"></td>
            <td th:text="${beacon.creationDate}"></td>
            <td><a class="btn btn-outline-danger" href="#" th:href="@{'/beacon/remove/' + ${beacon.location}}">삭제</a></td>
        </tr>
        </tbody>
    </table>

</div>

<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>