<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<h3 class="py-3 card-title text-center">내가 등록된 장소</h3>
<hr>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">별칭</th><th scope="col">위치</th><th scope="col">생성자</th><th scope="col">생성 날짜</th><th scope="col"></th><th scope="col"></th><th scope="col"></th>
        </thead>
        <tbody>
        <tr th:each="place : ${places}">
            <td th:text="${place.alias}"></td>
            <td th:text="${place.beacon.location}"></td>
            <td th:text="${place.creator.username}"></td>
            <td th:text="${place.creationDate}"></td>
            <td><a class="btn btn-outline-primary" href="#" th:href="@{'/attendances/my/' + ${place.beacon.location}}">출입 현황</a></td>
            <td th:if="${place.creator.username} == ${#authentication.name}" ><a class="btn btn-outline-secondary" href="#" th:href="@{'/place/management/' + ${place.beacon.location}}">관리</a></td>
                <td>
                    <form action="#" th:action="@{'/place/remove/' + ${place.beacon.location}}" th:if="${place.creator.username} == ${#authentication.name}" method="post">
                        <button class="btn btn-outline-danger">삭제</button>
                    </form>
                    <form action="#" th:action="@{'/place/leave/' + ${place.beacon.location}}" th:if="${place.creator.username} != ${#authentication.name}" method="post">
                        <button class="btn btn-outline-danger">탈퇴</button>
                    </form>
                </td>
        </tr>
        </tbody>
    </table>

</div>

<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>