<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<h3 class="py-3 card-title text-center">내가 등록한 장소</h3>
<hr>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">별칭</th><th scope="col">위치</th><th scope="col">생성자</th>
        </thead>
        <tbody>
        <tr th:each="place : ${places}">
            <td th:text="${place.alias}"</td>
            <td th:text="${place.location}"></td>
            <td th:text="${place.constructor}"></td>
            <td><a class="btn btn-outline-primary" href="#" th:href="@{'/my-place/' + ${place.location}}">출석 현황</a></td>
        </tr>
        </tbody>
    </table>

<!--    <div class="d-grid gap-2">-->
<!--        <a class ="btn btn-outline-primary " id="btn-addLecture" th:href="@{/create-place}">강의 추가</a>-->
<!--    </div>-->
</div>

<!--TODO 강의 클릭 하면 출석현황으로 연결.-->
<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>