<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>
<div class="card text-center">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">별칭</h5>
                <p class="card-text" th:text="${place.alias}"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">위치</h5>
                <p class="card-text" th:text="${place.beacon.location}"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">생성자</h5>
                <p class="card-text" th:text="${place.creator.username}"></p>
            </div>
        </div>
<!--        TODO 별칭 변경-->
    </div>
</div>
<h3 class="py-3 card-title text-center">출입 현황</h3>
<hr>

<h2 class="py-3 text-center">사용자 목록</h2>

<div class="container">
    <table class="table">
        <thead>
        <th scope="col">이름</th><th scope="col"></th>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td ><a th:href="@{'/attendance/'+ ${user + '/' + place.beacon.location}}" th:text="${user}"></a></td>
            <td><a class="btn btn-outline-danger" th:href="@{'/place/remove-user/' + ${user + '/' + place.beacon.location}}" th:if="${#authentication.name != user}">제거</a></td>
        </tr>
        </tbody>
    </table>
    <a href="#" th:href="@{'/user/' + ${place.beacon.location}}" class="btn btn-outline-primary">사용자 추가</a>

    <!--    TODO 이메일 등 정보를 추가할지?-->
</div>

<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>