<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>

<h3 class = "py-3 card-title text-center">출입 체크 하기.</h3>

<div class="card text-center">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">별칭</h5>
                <p class="card-text" th:if="${place != null}" th:text="${place.alias}" ></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">위치</h5>
                <p class="card-text" th:if="${place != null}" th:text="${place.beacon.location}"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">생성자</h5>
                <p class="card-text" th:if="${place != null}" th:text="${place.creator.username}"></p>
            </div>
        </div>
    </div>
</div>
<div class ="container" id="item-list-container">
    <button id = "btn-getBeaconCode" class = "btn btn-primary" onclick="getBeaconCode()">비콘 찾기</button>
    <ul class="list-group" id = "beacon-list">
    </ul>
</div>
<hr>
<form action="#" th:action="@{/checkIn}" method="post"  th:if="${place != null && canCheckIn}">
    <input type="text" th:value="${place.beacon.location}" name = "location" hidden>
    <button class="btn btn-outline-success" type="submit" >체크 인</button>
</form>
<form action="#" th:action="@{/checkOut}" method="post" th:if="${place != null && !canCheckIn}">
    <input type="text" th:value="${place.beacon.location}" name = "location" hidden>
    <button class="btn btn-outline-success" type="submit" >체크 아웃</button>
</form>

<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>

<script>
    function getBeaconCode() {
        // const beaconIds = '{"ids":[{"id":"0aaa6305-9670-42b3-9fdf-897da796b8ea"},' +
        //     '{"id":"d6e65950-5293-47b4-8551-3815daf73517"}]}';
        const beaconIds = window.Android.getBeaconCode();
        let jsonBeaconIds = JSON.parse(beaconIds);
        alert("beaconIds = " + beaconIds + "type = " + typeof beaconIds)


        const itemList = document.getElementById("beacon-list");
        while(itemList.firstChild){
            itemList.removeChild(itemList.firstChild);
        }

        for(let i=0; i < jsonBeaconIds.ids.length; i++){
            let beaconCode = jsonBeaconIds.ids[i].id;
            let item = document.createElement("li");
            let itemLink = document.createElement("a");

            itemLink.href ="/check/"+beaconCode;
            itemLink.text = beaconCode;

            item.append(itemLink)
            item.className="list-group-item beaconItem"

            itemList.append(item);
        }
        //TODO 서버로 전송, 장소 찾아오고 넣어준 뒤 리다이렉트.
    }
</script>