<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
    <meta charset="UTF-8">
    <title>출석부 관리 시스템</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
</header>

<nav class="navbar navbar-dark bg-dark" th:fragment="navFragment">
    <div class="container-fluid">
        <a class="navbar-brand " href="#" th:href="@{/}">
            <img src="/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Attendance
        </a>
        <ul class ="nav">
            <li class="nav-item">
                <a class="nav-link text-white-50" aria-current="page" href="#" th:href="@{/sign-up}" sec:authorize="!isAuthenticated()">Sign-Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
            </li>

            <!-- 프로필 이미지-->
            <li class="nav-item mt-2 mb-2" sec:authorize="isAuthenticated()">
                <svg data-jdenticon-value="user1" th:data-jdenticon-value="${#authentication.name}" width="24" height="24" class="rounded border bg-light"></svg>
            </li>

            <!-- Drop Down Menu  -->
            <li class ="nav-item dropdown me-5" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" id="navDropDown", aria-expanded="false">
                    <span class= "text-muted" sec:authorize="isAuthenticated()" th:text="${#authentication.name}"></span>
                </a>
                <ul class="dropdown-menu bg-dark" aria-labelledby="navDropDown">
                    <li>
                        <a class="dropdown-item text-muted" href="#" th:href="@{/account/my-profile}" sec:authorize="isAuthenticated()">Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-muted" href="#" th:href="@{/admin-page}" sec:authorize="hasRole('ROLE_ADMIN')">Admin Page</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-muted" href="#" th:href="@{/my-place}" sec:authorize="isAuthenticated()">My Place</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-muted" href="#" th:href="@{/beacon/my-beacon}" sec:authorize="isAuthenticated()">My Beacon</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-muted" href="#" th:href="@{/attendance}" sec:authorize="isAuthenticated()">Check</a>
                    </li>
                    <li><hr class="dropdonw-divider text-white"></li>
                    <li>
                        <form action="#" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                            <button class="dropdown-item text-muted" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </li>

        </ul>
    </div>




</nav>


<div th:fragment="footerFragment">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        document.querySelector(".btn-submit").disabled =false;
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>
<script th:fragment="prevent-duplicate-submit" type="application/javascript" >
    $(".prevent-duplicate-submit").on("submit", function (e){
        var btn = document.querySelector(".btn-submit");
        console.log("=======================");
        console.log(btn);
        btn.disabled=true
    })

</script>



</html>