<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head th:replace="fragments :: headerFragment"></head>

<body>
<nav th:replace="fragments :: navFragment"> </nav>
<div class="alert alert-warning" th:if="${account != null && !account.emailVerified}">
    인증 되지 않은 계정입니다. 가입을 완료하려면 <a th:href ="@{/check-email}">인증 이메일을 확인하세요</a>
</div>
<div class="py-4 text-center">
    <h2>자동 출입 관리 시스템</h2>
</div>
<div class=" row row-cols-1 row-cols-md-2 g-4 px-3 ">
    <div class="col-6 mx-auto">
        <div class="card">
<!--            <img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
                <h6 class="card-title">Create Place</h6>
                <small style="font-size:11px" class="card-text text-muted">출입을 관리할 장소를 생성하세요.</small>
            </div>
        </div>
    </div>
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">My Place</h6>
                <small style="font-size:11px" class="card-text text-muted">내가 등록한 장소들을 관리하세요.</small>
            </div>
        </div>
    </div>
    <div class="col-6 mx-auto">

        <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Public Place</h6>
                    <small style="font-size:11px" class="card-text text-muted">생성된 장소가 모두에게 노출됩니다.</small>
                </div>
            </div>
        </div>
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Private Place</h6>
                <small style="font-size:11px" class="card-text text-muted">장소를 생성한 사용자만이 새로운 사용자들을 추가할 수 있습니다.</small>
            </div>
        </div>
    </div>
</div>
<div class="d-grid col-6 mx-auto">
        <a href="#" th:href="@{/public-place-list}" class="btn btn-outline-success m-3 py-3">공개된 장소 </a>
        <a href="#" th:href="@{/create-place}" class="btn btn-outline-success m-3 py-3">장소 생성하기</a>
        <a href="#" th:href="@{/add-beacon}" class="btn btn-outline-success m-3 py-3">비콘 등록하기</a>
</div>



<th:block th:replace="fragments :: footerFragment"/>
</body>
</html>