<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headerFragment" ></head>
<body class =bg-light>
<nav th:replace="fragments :: navFragment"> </nav>

<div class="container">

    <div class="row mt-5">
        <!--        프로필 이미지-->
        <div class = "col-2 justify-content-center">
            <svg data-jdenticon-value="user1" th:data-jdenticon-value="${#authentication.name}" width="200" height="200" class="rounded border bg-light"></svg>

        </div>

        <!--        개인정보란-->
        <div class = "col-8 justify-content-center">
            <form action="#" th:action="@{/settings/profile}" method="post" th:object="${profileForm}">
                <div class="form-group">
                    <label for="phoneNumber">전화 번호</label>
                    <input id="phoneNumber" type="number" th:field="*{phoneNumber}" class="form-control" th:value="${profileForm.phoneNumber}"
                           placeholder="전화 번호" aria-describedby="phoneNumberHelp" >
                    <small id="phoneNumberHelp" class="form-text text-muted">
                        전화번호를 입력해 주세요.
                    </small>
                    <small class="invalid-feedback">전화번호를 확인하세요</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</small>
                </div>

                <div class="form-group">
                    <label for="address">주소</label>
                    <input id="address" type="address" th:field="*{address}" class="form-control" th:value="${profileForm.address}"
                           placeholder="주소" aria-describedby="addressHelp" >
                    <small id="addressHelp" class="form-text text-muted">
                        주소를 입력해 주세요.
                    </small>
                    <small class="invalid-feedback">주소를 확인하세요</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</small>
                </div>
                <div class="d-grid gap-2 ">
                    <button class="btn btn-primary btn-submit" type="submit"
                            aria-describedby="submitHelp">변경하기</button>
                </div>
            </form>



        </div>

    </div>




</div>




<div th:replace="fragments :: footerFragment"></div>
</body>
</html>